{% extends "layout.twig" %}

{% block title %}Usuário da Conta{% endblock %}

{% block content %}
<div class="row g-4">
    <div class="col-lg-4">
        {% include 'components/account/summary_card.twig' with {
            selectedAccount: selectedAccount
        } %}

        {% include 'components/account/actions_card.twig' %}
    </div>

    <div class="col-lg-8">
        {% include 'components/account/stats_cards.twig' with {
            credits_total: credits_total,
            debits_total: debits_total,
            statement: statement
        } %}

        {% include 'components/account/statement_filters.twig' with {
            filters: filters
        } %}

        {% include 'components/account/statement_table.twig' with {
            statement: statement,
            pagination: pagination,
            filters: filters
        } %}
    </div>
</div>

{% include 'components/account/modals/credit_modal.twig' %}
{% include 'components/account/modals/debit_modal.twig' %}
{% include 'components/account/modals/transfer_modal.twig' with {
    accounts: accounts,
    selectedAccount: selectedAccount
} %}
{% endblock %}